
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="black-card-view">
        <div>
            <p id="black-card">@ViewBag.BlackCard</p>
        </div>
    </div>
    <div class="played-card-view">
        @if (ViewBag.Stash != null)
        {
            foreach (var stash in ViewBag.Stash)
            {
                <div id="@stash.Card.ID" class="white-card-played"><span class="card-description-played">@stash.Card.Description</span></div>
            }
        }
    </div>
</div>
<div class="row">
    <div class="seperate">
        <button class="round" id="nextRound" value="@ViewBag.BlackCardID">Next Round</button>
    </div>
</div>
<div class="row">
    <div class="cards-scroller">
        <div class="cards-view">
            @foreach (var card in ViewBag.WhiteCards)
            {
                <div class="white-card card-@card.Card.ID">
                    @card.Card.Description
                    <button class="playCard" value="@card.Card.ID"></button>
                </div>
            }
        </div>
    </div>
</div>